---
import madvillani from "images/madvillani.png";
import basicChannel from "images/basicchannel.png";
import wax from "images/wax1.png";
import inrainbows from "images/inrainbows.png";
import PageLayout from "@/layouts/Base.astro";
import { Image } from "astro:assets";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "About",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">Music </h1>
		<p>
            This is the place where i share my music, general sound projects and a bit 
            of my musical taste

            I'll leave few LP links and many valuable resources.
		</p>

        <div class="grid grid-cols-4 gap-4 m-2">
		    <div class="flex justify-center">
                <a href="https://open.spotify.com/intl-es/album/19bQiwEKhXUBJWY6oV3KZk?si=f6d91c1f45454af6">
                    <Image
		    		alt="madvillani"
		    		fetchpriority="high"
		    		loading="eager"
		    		src={madvillani}
		    	/></a>
                
		    </div>
            <div class="flex justify-center">
                <a href="https://open.spotify.com/intl-es/album/42nhTxeaxPiqdi6VHBz08f?si=5pPlClcKRranLoIQzkC6Tw">
		    	    <Image
		    	    	alt="madvillani"
		    	    	fetchpriority="high"
		    	    	loading="eager"
		    	    	src={basicChannel}
		    	    />
                </a>
		    </div>
            <div class="flex justify-center">
		    	<Image
		    		alt="madvillani"
		    		fetchpriority="high"
		    		loading="eager"
		    		src={inrainbows}
		    	/>
		    </div>
            <div class="flex justify-center">
		    	<Image
		    		alt="madvillani"
		    		fetchpriority="high"
		    		loading="eager"
		    		src={wax}
		    	/>
		    </div>
        </div>
		<div>
			<div id="music" class="item">
			
			  <img
				src="https://lastfm-recently-played.vercel.app/api?user=omarigg&loved=true&header_size=none&footer_style=normal_stats&width=300&bg_color=00000088"
				alt="currently playing music from last.fm"
			  />
			</div>
		</div>


		<!-- <p>
			Clone or fork my <a
				aria-label="github repository"
				class="cactus-link inline-block"
				href="https://github.com/omarigg04/light-portfolio"
				rel="noopener noreferrer"
				target="_blank">repo</a
			> if you like me!
		</p> -->
	</div>
</PageLayout>
