---
import madvillani from "images/madvillani.png";
import basicChannel from "images/basicchannel.png";
import wax from "images/wax1.png";
import inrainbows from "images/inrainbows.png";
import PageLayout from "@/layouts/Base.astro";
import { Image } from "astro:assets";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "About",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">Music </h1>
		<p>
            This is the place where i share my music, general sound projects and a bit 
            of my musical taste

            I'll leave few LP links and many valuable resources.
		</p>

        <div class="grid grid-cols-4 gap-4 m-2">
		    <div class="flex justify-center">
                <a href="https://open.spotify.com/intl-es/album/19bQiwEKhXUBJWY6oV3KZk?si=f6d91c1f45454af6">
                    <Image
		    		alt="madvillani"
		    		fetchpriority="high"
		    		loading="eager"
		    		src={madvillani}
		    	/></a>
                
		    </div>
            <div class="flex justify-center">
                <a href="https://open.spotify.com/intl-es/album/42nhTxeaxPiqdi6VHBz08f?si=5pPlClcKRranLoIQzkC6Tw">
		    	    <Image
		    	    	alt="madvillani"
		    	    	fetchpriority="high"
		    	    	loading="eager"
		    	    	src={basicChannel}
		    	    />
                </a>
		    </div>
            <div class="flex justify-center">
		    	<Image
		    		alt="madvillani"
		    		fetchpriority="high"
		    		loading="eager"
		    		src={inrainbows}
		    	/>
		    </div>
            <div class="flex justify-center">
		    	<Image
		    		alt="madvillani"
		    		fetchpriority="high"
		    		loading="eager"
		    		src={wax}
		    	/>
		    </div>
        </div>
		<p>Here are my some of my awesome built in features:</p>
		<ul class="list-inside list-disc">
			<li>I'm ultra fast as I'm a static site</li>
			<li>I'm fully responsive</li>
			<li>I come with a light and dark mode</li>
			<li>I'm easy to customise and add additional content</li>
			<li>I have Tailwind CSS styling</li>
			<li>Shiki code syntax highlighting</li>
			<li>Satori for auto generating OG images for blog posts</li>
		</ul>
		<p>
			Clone or fork my <a
				aria-label="github repository"
				class="cactus-link inline-block"
				href="https://github.com/chrismwilliams/astro-cactus"
				rel="noopener noreferrer"
				target="_blank">repo</a
			> if you like me!
		</p>
	</div>
</PageLayout>
